@import "tailwindcss";

/* ---------------- SCROLLBAR ---------------- */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.status {
  text-align: center;
  font-weight: 600;
}

/* screen */
.instock {
  background-color: #dcfce7;
}
.lowstock {
  background-color: #fef9c3;
}
.outofstock {
  background-color: #fee2e2;
}

/* print header default hidden */
.print-header {
  display: none;
}




/* ---------------- PRINT DEFAULT ---------------- */
@media print {



  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

 .no-print {
    display: none !important;
  }


 body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid black;
  }

 .status.instock {
    background-color: #dcfce7 !important;
  }

  .status.lowstock {
    background-color: #fef9c3 !important;
  }

  .status.outofstock {
    background-color: #fee2e2 !important;
  }







    .print-header {
    display: block;
    text-align: center;
    margin-bottom: 12px;
  }

  .print-title {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .print-subtitle {
    font-size: 26px;
    font-weight: 700;
    margin-top: 4px;
    letter-spacing: 2;
  }





}